    header {
        position: fixed;
          background:#9966ff;
               width:100%;
        height: 20%;
        
        <nav>
        menu de navegação       
    </nav>
    
<section>
    seção do corpo
    </section>
    <footer>rodape
    </footer>
    }
